@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brandColorLight: #3479be;
  --brandColor: #0a66c2;
  --brandColorDark: #074c90;
  --brandGoldColor: #8f5849;

  --hoverBgBrand: #0a66c21a;
  --hoverBg: #00000010;

  --white: #fff;
  --popupBg: #000000e1;
  --backgroundDark: #fdfdfd;
  --backgroundLight: #f4f1f1;
  --outlineColor: #d0d0d0d1;

  --textColorLight: #000000a0;
  --textColor: #000000ce;
  --headingColorLight: #000000e7;
  --headingColor: #000;

  --phone: 420px;
  --tab: 768px;

  --containerPadding: 0.6rem 12rem;
  --outline: 0.05rem solid var(--outlineColor);

  --loadingBgImg: linear-gradient(to right, #82828233 10%, #8282824d 20%, #82828233 36%);
  --loadingBgSize: 200%;
  --loadingAnimation: loading 1.5s linear infinite;
}


body {
  font-family: 'Poppins', sans-serif, 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans';
  background-color: var(--backgroundLight);
  font-size: 100%;
  overflow-x: hidden;
  position: relative;
}

.skeleton {
  background-image: var(--loadingBgImg);
  background-size: var(--loadingBgSize);
  animation: var(--loadingAnimation);
}

@keyframes loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -200% 0;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }
  body{
    --containerPadding: 0.48rem 8rem;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 82%;
  }
  body{
    --containerPadding: 0.4rem 6rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  body{
    --containerPadding: 0.32rem 4rem;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 62.5%;
  }
  body{
    --containerPadding: 0.2rem 0.5rem;
  }
}